<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="headercliente">Ultimos Pedidos</ion-title>
        <!-- <ion-title class="headercliente">{{_cliente.clienteActual.cliente}}</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">
    <ion-text color="primary">
        <h6>
            <ion-icon size="small" color="dark" name="cart"></ion-icon>{{_cliente.clienteActual.cliente}}</h6>
    </ion-text>
    <hr class="bg-tertiary">

    <div text-center *ngIf="pedidos.length === 0" class="carrito_vacio">

        <ion-icon name="ios-cart-outline" class="icon-5x"></ion-icon>
        <br> No tiene Pedidos para esta dirección
    </div>
    <ion-card class="btpedidotot-color" *ngIf="cargo_pedidos">
        <ion-grid class="btpedidotot-color">
            <ion-row *ngFor="let itemp of pedidos; let i = index;">
                <ion-col size="12">
                    <strong> {{itemp.data.cod_dpedid + '/'+ itemp.data.num_dpedid}} {{itemp.data.fecha | date: 'shortDate'}}
                        </strong>
                    <ion-row>
                        <ion-col size="2">
                            Código
                        </ion-col>
                        <ion-col size="5">
                            Referencia
                        </ion-col>
                        <ion-col size="2">
                            Cantidad
                        </ion-col>
                        <ion-col size="2">
                            Valor
                        </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let itempdet of itemp.data.detalle; let i = index;">
                        <ion-col>
                            <ion-col size="2">
                                <!-- <div text-lowercase> -->
                                <!-- <ion-text color="primary" slot="start"> -->
                                {{itempdet.cod_refven}}
                                <!-- </ion-text> -->
                                <!-- </div> -->
                            </ion-col>
                            <ion-col size="5">
                                <!-- <div text-lowercase> -->
                                <!-- <ion-text color="primary" slot="start"> -->
                                {{itempdet.descrip}}
                                <!-- </ion-text> -->
                                <!-- </div> -->
                            </ion-col>
                            <ion-col size="2">
                                <!-- <div text-lowercase> -->
                                <!-- <ion-text color="primary" slot="start"> -->
                                {{itempdet.cantidad}}
                                <!-- </ion-text> -->
                                <!-- </div> -->
                            </ion-col>
                            <ion-col size="2">
                                <!-- <div text-lowercase> -->
                                <!-- <ion-text color="primary" slot="start"> -->
                                {{itempdet.valor_neto | currency }}
                                <!-- </ion-text> -->
                                <!-- </div> -->
                            </ion-col>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- <ion-grid class="btpedidotot-color">
            <ion-row>
                <ion-col size="7">
                    <strong>Subtotal:</strong>
                </ion-col>
                <ion-col size="5">
                    <strong> {{ _visitas.visita_activa_copvdet.pedido_grabado.tvalneto | currency }}</strong>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="7">
                    <strong>Iva:</strong>
                </ion-col>
                <ion-col size="5">
                    <strong> {{ _visitas.visita_activa_copvdet.pedido_grabado.tiva | currency }}</strong>
                </ion-col>
            </ion-row>
        </ion-grid> -->
        <!-- <ion-row>
            <ion-col size="7">
                <strong>Total:</strong>
            </ion-col>
            <ion-col size="5">
                <strong> {{ (_visitas.visita_activa_copvdet.pedido_grabado.tvalneto + _visitas.visita_activa_copvdet.pedido_grabado.tiva) | currency }}</strong>
            </ion-col>
        </ion-row> -->
        <ion-button slot="start" shape="round" color="success" (click)="imprimir_pedido()">
            Imprimir Pedido
        </ion-button>
    </ion-card>

</ion-content>