<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>Items Recibo de Caja</ion-title> -->
        <ion-title class="headercliente">Items Recibo de Caja</ion-title>
        <!-- <ion-title class="headercliente">{{_visitas.clienteAct.cliente}}</ion-title> -->

    </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">
    <ion-text color="primary">
        <h6>
            <ion-icon size="small" color="dark" name="cash"></ion-icon>{{_cliente.clienteActual.cliente}}</h6>
        <!-- <ion-icon size="small" color="dark" name="cash"></ion-icon>{{_visitas.clienteAct.cliente}}</h6> -->
    </ion-text>
    <hr class="bg-tertiary">
    <ion-grid>
        <ion-row>
            <ion-col size="12" margin-bottom>
                <ion-card *ngIf="!recibocaja.length" class="bg-white" margin-top>
                    <ion-card-content>
                        <p text-center>
                            <ion-text color="primary">No tiene Items en Recibo de Caja</ion-text>
                        </p>
                    </ion-card-content>
                </ion-card>
                <!-- <ion-list>
                    <ion-item-sliding *ngFor="let itemr of recibocaja; let i = index;">
                        <ion-card class="bg-white">
                            <ion-text color="primary" slot="start" tappable routerLink="/recibo-detail/{{itemr.item.num_obliga}}">
                                {{itemr.item.num_obliga}} - {{itemr.item.fecha_obl | date: 'shortDate'}}
                                <p>Saldo:{{itemr.item.saldoini | currency }}</p>
                            </ion-text>
                            <ion-label>Abono:</ion-label>
                            <ion-input slot="start" (ionChange)="total(itemr,i)" [(ngModel)]="itemr.item.abono" type="number" min="1" max="99999999" step="10000" placeholder="Abono" clearOnEdit="true">
                            </ion-input>
                            <ion-text color="success" slot="end">
                                Saldo: {{ itemr.item.saldo | currency }}
                            </ion-text>
                            <ion-button slot="end" shape="round" color="danger" (click)="deleteItem(itemr)">
                                Eliminar
                            </ion-button>
                        </ion-card>
                    </ion-item-sliding>
                </ion-list> -->
                <ion-card class="btcartera-color" *ngFor="let itemr of recibocaja; let i = index;">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-text color="primary" tappable routerLink="/recibo-detail/{{itemr.item.num_obliga}}">
                                    <ion-icon name="albums"></ion-icon>{{itemr.item.num_obliga}}
                                </ion-text>
                            </ion-col>
                            <ion-col size="6">
                                <ion-icon name="alarm"></ion-icon>{{itemr.item.fecha_obl | date: 'shortDate'}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="4">
                                <ion-label>Abono:</ion-label>
                            </ion-col>
                            <ion-col size="8">
                                <ion-input (ionChange)="total(itemr,i)" [(ngModel)]="itemr.item.abono" type="number" min="1" max="99999999" step="10000" placeholder="Abono" clearOnEdit="true">
                                </ion-input>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">
                                <p class="saldo-position">Saldo:{{itemr.item.saldoini | currency }}</p>
                            </ion-col>
                            <ion-col size="6">
                                <ion-text color="danger">
                                    Nuevo Saldo: {{ itemr.item.saldo | currency }}
                                </ion-text>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button class="delete-position" shape="round" color="danger" (click)="deleteItem(itemr)">
                                    <ion-icon name="trash"></ion-icon>Eliminar
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h3>
                    <strong>Total:</strong>
                </h3>
            </ion-col>
            <ion-col>
                <h3>
                    <strong> {{ total_recibo | currency }}</strong>
                </h3>
            </ion-col>

        </ion-row>
    </ion-grid>
    <ion-button slot="end" shape="round" color="success" (click)="realizar_pedido()">
        Realizar Pedido
    </ion-button>

</ion-content>